ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4bb6e7;
  }
  
li {
    float: left;
    margin: 5px;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #9bb9e4;
  }
  body  {
    background-color: #f1e9e9;
  }
